.wave-btn {
   width: 280px;
   height: 60px;
   display: flex;
   border-radius: 0 0 10px 10px;
   justify-content: center;
   align-items: center;
   transition: all 0.8s ease;
   text-decoration: none;
   margin-bottom: 100px;
   position: relative;
   overflow: hidden;
 }
 
 .wave-btn:hover .wave-btn__waves{
   top: -50px;
 }
 .wave-btn:hover{
   border-radius: 10px;
   transition: all 0.8s ease 0.2s;
   box-shadow: 0 0 60px rgba(20, 90, 241, 0.6);
   
 }
 
 .wave-btn__text {
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 8px;
   position: relative;
   z-index: 1;
 }
 .wave-btn__waves {
   position: absolute;
   top: 0;
   left: 0;
   width: 280px;
   height: 280px;
   background-color: rgb(20, 90, 241);
   box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
   transition: all 0.8s ease 0s;
 }
 .wave-btn__waves::after, .wave-btn__waves::before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   width: 250%;
   height: 250%;
   transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
 }

 .wave-btn__waves::before{
   background-color: rgb(68, 61, 61);
   border-radius: 48%;
   animation: waves 5s infinite linear;
 }

 .wave-btn__waves::after{
   background-color: rgb(68, 61, 61, 0.5);
   border-radius: 44%;
   animation: waves 10s infinite linear;
 }
 
 @keyframes waves {
   0%{
     transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
   }
   
   100%{
     transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
   }
 }